<!DOCTYPE html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />

        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.3/semantic.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="{{ asset('css/app.css') }}">
        <link rel="stylesheet" href="{{ asset('css/mana.css') }}">

        <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.0.3/semantic.min.js"></script>
    </head>
    <body>
        <nav class="blue-grey darken-1">
            <div class="nav-wrapper container">
                <a class="brand-logo">MTG Search</a>
                <ul id="nav-mobile" class="right hide-on-med-and-down">
                </ul>
            </div>
        </nav>
        <div class="ui container">
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}{% endblock %}
        {% if app.environment == 'prod' %}
            <script src="{{ asset('js/bundle.min.js') }}"></script>
        {% else %}
            <script src="{{ asset('js/bundle.js') }}"></script>
        {% endif %}
    </body>
</html>
